# Generated .gitignore file
# Created with Gitie

# Go
# Binaries for programs, plugins & temp 
bin/
tmp
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
